In [1]:
#coding:utf-8
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from sklearn.cross_validation import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

#read data
train = pd.read_csv("C:\\Users\\hasee\\workspace\\Kaggle\\Titanic\\train.csv")
test = pd.read_csv("C:\\Users\\hasee\\workspace\\Kaggle\\Titanic\\test.csv")

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
def clean_data(titanic):#填充空数据 和 把string数据转成integer表示
    titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())
    # child
    titanic["child"] = titanic["Age"].apply(lambda x: 1 if x < 15 else 0)

    # sex
    titanic["sex"] = titanic["Sex"].apply(lambda x: 1 if x == "male" else 0)

    titanic["Embarked"] = titanic["Embarked"].fillna("S")
    # embark
    def getEmbark(Embarked):
        if Embarked == "S":
            return 1
        elif Embarked == "C":
            return 2
        else:
            return 3
    titanic["embark"] = titanic["Embarked"].apply(getEmbark)

    # familysize
    titanic["fimalysize"] = titanic["SibSp"] + titanic["Parch"] + 1

    # cabin
    def getCabin(cabin):
        if cabin == "N":
            return 0
        else:
            return 1
    titanic["cabin"] = titanic["Cabin"].apply(getCabin)

    # name
    def getName(name):
        if "Mr" in str(name):
            return 1
        elif "Mrs" in str(name):
            return 2
        else:
            return 0
    titanic["name"] = titanic["Name"].apply(getName)

    titanic["Fare"] = titanic["Fare"].fillna(titanic["Fare"].median())

    return titanic
# 对数据进行清洗
train_data = clean_data(train)
test_data = clean_data(test)

In [3]:
features = ["Pclass", "sex", "child", "fimalysize", "Fare", "embark", "cabin"]

In [4]:
forest_clf=RandomForestClassifier(max_features='sqrt')

In [6]:
param_grid = {
    'n_estimators': range(100, 400, 50),
    'max_depth': range(2, 7, 1),
    'criterion':['gini','entropy']
}
grid_clf = GridSearchCV(estimator = forest_clf, param_grid = param_grid, scoring='accuracy', cv=5)
grid_clf.fit(train_data[features], train_data["Survived"])
grid_clf.grid_scores_, grid_clf.best_params_, grid_clf.best_score_

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:667: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

([mean: 0.79574, std: 0.02213, params: {'criterion': 'gini', 'max_depth': 2, 'n_estimators': 100},
  mean: 0.79461, std: 0.02900, params: {'criterion': 'gini', 'max_depth': 2, 'n_estimators': 150},
  mean: 0.79012, std: 0.02387, params: {'criterion': 'gini', 'max_depth': 2, 'n_estimators': 200},
  mean: 0.79125, std: 0.03105, params: {'criterion': 'gini', 'max_depth': 2, 'n_estimators': 250},
  mean: 0.79349, std: 0.02269, params: {'criterion': 'gini', 'max_depth': 2, 'n_estimators': 300},
  mean: 0.79125, std: 0.02816, params: {'criterion': 'gini', 'max_depth': 2, 'n_estimators': 350},
  mean: 0.81033, std: 0.01198, params: {'criterion': 'gini', 'max_depth': 3, 'n_estimators': 100},
  mean: 0.81481, std: 0.02390, params: {'criterion': 'gini', 'max_depth': 3, 'n_estimators': 150},
  mean: 0.80920, std: 0.03805, params: {'criterion': 'gini', 'max_depth': 3, 'n_estimators': 200},
  mean: 0.81594, std: 0.02494, params: {'criterion': 'gini', 'max_depth': 3, 'n_estimators': 250},
  mean: 0.80471, std: 0.04329, params: {'criterion': 'gini', 'max_depth': 3, 'n_estimators': 300},
  mean: 0.80471, std: 0.04283, params: {'criterion': 'gini', 'max_depth': 3, 'n_estimators': 350},
  mean: 0.80471, std: 0.02847, params: {'criterion': 'gini', 'max_depth': 4, 'n_estimators': 100},
  mean: 0.81481, std: 0.02549, params: {'criterion': 'gini', 'max_depth': 4, 'n_estimators': 150},
  mean: 0.82155, std: 0.02170, params: {'criterion': 'gini', 'max_depth': 4, 'n_estimators': 200},
  mean: 0.81818, std: 0.02799, params: {'criterion': 'gini', 'max_depth': 4, 'n_estimators': 250},
  mean: 0.81145, std: 0.02049, params: {'criterion': 'gini', 'max_depth': 4, 'n_estimators': 300},
  mean: 0.81706, std: 0.02561, params: {'criterion': 'gini', 'max_depth': 4, 'n_estimators': 350},
  mean: 0.82155, std: 0.02946, params: {'criterion': 'gini', 'max_depth': 5, 'n_estimators': 100},
  mean: 0.81930, std: 0.02666, params: {'criterion': 'gini', 'max_depth': 5, 'n_estimators': 150},
  mean: 0.82379, std: 0.02176, params: {'criterion': 'gini', 'max_depth': 5, 'n_estimators': 200},
  mean: 0.82379, std: 0.02205, params: {'criterion': 'gini', 'max_depth': 5, 'n_estimators': 250},
  mean: 0.82155, std: 0.02601, params: {'criterion': 'gini', 'max_depth': 5, 'n_estimators': 300},
  mean: 0.82043, std: 0.02151, params: {'criterion': 'gini', 'max_depth': 5, 'n_estimators': 350},
  mean: 0.82379, std: 0.03026, params: {'criterion': 'gini', 'max_depth': 6, 'n_estimators': 100},
  mean: 0.81930, std: 0.01749, params: {'criterion': 'gini', 'max_depth': 6, 'n_estimators': 150},
  mean: 0.81369, std: 0.02734, params: {'criterion': 'gini', 'max_depth': 6, 'n_estimators': 200},
  mean: 0.81818, std: 0.02560, params: {'criterion': 'gini', 'max_depth': 6, 'n_estimators': 250},
  mean: 0.81818, std: 0.02691, params: {'criterion': 'gini', 'max_depth': 6, 'n_estimators': 300},
  mean: 0.81369, std: 0.02496, params: {'criterion': 'gini', 'max_depth': 6, 'n_estimators': 350},
  mean: 0.79574, std: 0.03098, params: {'criterion': 'entropy', 'max_depth': 2, 'n_estimators': 100},
  mean: 0.80135, std: 0.01589, params: {'criterion': 'entropy', 'max_depth': 2, 'n_estimators': 150},
  mean: 0.79237, std: 0.04099, params: {'criterion': 'entropy', 'max_depth': 2, 'n_estimators': 200},
  mean: 0.79461, std: 0.02620, params: {'criterion': 'entropy', 'max_depth': 2, 'n_estimators': 250},
  mean: 0.79910, std: 0.02330, params: {'criterion': 'entropy', 'max_depth': 2, 'n_estimators': 300},
  mean: 0.79574, std: 0.02566, params: {'criterion': 'entropy', 'max_depth': 2, 'n_estimators': 350},
  mean: 0.80920, std: 0.03312, params: {'criterion': 'entropy', 'max_depth': 3, 'n_estimators': 100},
  mean: 0.81033, std: 0.03890, params: {'criterion': 'entropy', 'max_depth': 3, 'n_estimators': 150},
  mean: 0.81145, std: 0.03410, params: {'criterion': 'entropy', 'max_depth': 3, 'n_estimators': 200},
  mean: 0.81369, std: 0.03560, params: {'criterion': 'entropy', 'max_depth': 3, 'n_estimators': 250},
  mean: 0.80135, std: 0.04050, params: {'criterion': 'entropy', 'max_depth': 3, 'n_estimators': 300},
  mean: 0.80808, std: 0.04230, params: {'criterion': 'entropy', 'max_depth': 3, 'n_estimators': 350},
  mean: 0.81481, std: 0.02809, params: {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 100},
  mean: 0.82492, std: 0.02065, params: {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 150},
  mean: 0.81818, std: 0.01734, params: {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 200},
  mean: 0.81930, std: 0.02279, params: {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 250},
  mean: 0.82155, std: 0.02021, params: {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 300},
  mean: 0.82379, std: 0.02687, params: {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 350},
  mean: 0.81706, std: 0.02745, params: {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 100},
  mean: 0.82267, std: 0.01994, params: {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 150},
  mean: 0.81481, std: 0.02277, params: {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 200},
  mean: 0.81818, std: 0.02105, params: {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 250},
  mean: 0.81594, std: 0.02740, params: {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 300},
  mean: 0.81818, std: 0.02325, params: {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 350},
  mean: 0.82492, std: 0.02457, params: {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 100},
  mean: 0.82267, std: 0.02255, params: {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 150},
  mean: 0.82155, std: 0.02688, params: {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 200},
  mean: 0.81706, std: 0.02127, params: {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 250},
  mean: 0.81594, std: 0.02760, params: {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 300},
  mean: 0.81818, std: 0.02748, params: {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 350}],
 {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 150},
 0.82491582491582494)

In [7]:
y_pred=grid_clf.best_estimator_.predict(test_data[features])
submission=pd.DataFrame(test_data["PassengerId"])
submission.insert(1,'Survived',y_pred)
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [8]:
submission.to_csv("C:\\Users\\hasee\\workspace\\Kaggle\\Titanic\\submission3.csv")