In [3]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy.stats import chisquare,chi2

D:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [4]:
 data=pd.read_csv("C:\\Users\\hasee\\workspace\\workspace\\pachong\\houseprice4.csv")

In [6]:
data

,Year,price,gdp,cpi,income,landprice,landarea,buildprice,rate,urbanlevel
0,2003,5118,6694.23,100.1,14867,94.12,1469.10,2991.00,5.760,0.776
1,2004,5855,8072.83,102.2,16683,209.55,1038.76,3005.80,6.120,0.812
2,2005,6842,9247.66,101.0,18645,119.69,754.32,3058.00,6.120,0.845
3,2006,7196,10572.24,101.2,20668,94.03,524.56,3089.00,6.120,0.858
4,2007,8361,12494.01,103.2,23623,27.63,137.20,3073.80,7.485,0.868
5,2008,8195,14069.87,105.8,26675,125.22,137.60,2508.00,6.894,0.875
6,2009,12840,15046.45,99.6,28838,74.64,184.92,3353.00,5.940,0.876
7,2010,14464,17165.98,103.1,31838,257.80,432.44,4018.00,6.270,0.879
8,2011,14603,19195.69,105.2,36230,238.63,636.35,4796.00,6.675,0.886
9,2012,14061,20181.72,102.8,40188,135.09,300.62,4599.00,6.675,0.889
10,2013,16420,21818.15,102.3,43851,279.12,421.74,4670.00,6.550,0.893
11,2014,16787,23567.70,102.7,47710,395.63,313.18,4575.36,6.150,0.893
12,2015,20949,25123.45,102.4,52962,179.98,263.39,5622.00,5.400,0.896
13,2016,24747,28178.70,103.3,57692,375.12,229.11,5772.00,4.900,0.896

In [111]:
X_train=data[['income','landprice','buildprice','rate','urbanlevel']]

In [112]:
constant=pd.DataFrame(np.ones((14,)),columns={"constant"})

In [113]:
constant

    constant
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
5        1.0
6        1.0
7        1.0
8        1.0
9        1.0
10       1.0
11       1.0
12       1.0
13       1.0

In [114]:
X_train=pd.concat([X_train,constant],axis=1)

In [115]:
X_train

    income  landprice  buildprice   rate  urbanlevel  constant
0    14867      94.12     2991.00  5.760       0.776       1.0
1    16683     209.55     3005.80  6.120       0.812       1.0
2    18645     119.69     3058.00  6.120       0.845       1.0
3    20668      94.03     3089.00  6.120       0.858       1.0
4    23623      27.63     3073.80  7.485       0.868       1.0
5    26675     125.22     2508.00  6.894       0.875       1.0
6    28838      74.64     3353.00  5.940       0.876       1.0
7    31838     257.80     4018.00  6.270       0.879       1.0
8    36230     238.63     4796.00  6.675       0.886       1.0
9    40188     135.09     4599.00  6.675       0.889       1.0
10   43851     279.12     4670.00  6.550       0.893       1.0
11   47710     395.63     4575.36  6.150       0.893       1.0
12   52962     179.98     5622.00  5.400       0.896       1.0
13   57692     375.12     5772.00  4.900       0.896       1.0

In [116]:
y_train=data['price']

In [117]:
chisquare(X_train)

Power_divergenceResult(statistic=array([  7.61320746e+04,   8.70020610e+02,   3.73697303e+03,
         8.55450591e-01,   1.84931642e-02,   0.00000000e+00]), pvalue=array([  0.00000000e+000,   1.36604804e-177,   0.00000000e+000,
         9.99998521e-001,   1.00000000e+000,   1.00000000e+000]))

In [118]:
chi2.fit(X_train)

(0.27478739633458349, 0.7759999999999998, 25022.190850366234)

In [119]:
model_1=sm.OLS(y_train,X_train)
results=model_1.fit()

In [120]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.975
Model:                            OLS   Adj. R-squared:                  0.960
Method:                 Least Squares   F-statistic:                     62.78
Date:                Thu, 18 Jan 2018   Prob (F-statistic):           3.34e-06
Time:                        18:58:40   Log-Likelihood:                -115.16
No. Observations:                  14   AIC:                             242.3
Df Residuals:                       8   BIC:                             246.2
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
income         0.2011      0.102      1.965      0.085      -0.035       0.437
landprice      0.7931      4.358      0.182      0.860      -9.257      10.844
buildprice     1.4629      0.937      1.560      0.157      -0.699       3.625
rate       -1686.8039    745.570     -2.262      0.054   -3406.092      32.484
urbanlevel  3.881e+04    2.2e+04      1.764      0.116   -1.19e+04    8.95e+04
constant   -2.309e+04   1.58e+04     -1.461      0.182   -5.95e+04    1.33e+04
==============================================================================
Omnibus:                        1.518   Durbin-Watson:                   1.710
Prob(Omnibus):                  0.468   Jarque-Bera (JB):                0.864
Skew:                           0.168   Prob(JB):                        0.649
Kurtosis:                       1.830   Cond. No.                     3.00e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  3e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

D:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  "anyway, n=%i" % int(n))

In [14]:
np.corrcoef(X_train.T)

array([[ 1.        ,  0.37169687,  0.99462335,  0.69694142, -0.61720205,
         0.91800314, -0.32005158,  0.84025857],
       [ 0.37169687,  1.        ,  0.32173657,  0.31787359, -0.39934086,
         0.21939391,  0.39899819,  0.46854901],
       [ 0.99462335,  0.32173657,  1.        ,  0.69842732, -0.57080846,
         0.93100533, -0.38166201,  0.79567294],
       [ 0.69694142,  0.31787359,  0.69842732,  1.        , -0.11691753,
         0.67762681, -0.40793918,  0.42434354],
       [-0.61720205, -0.39934086, -0.57080846, -0.11691753,  1.        ,
        -0.33013657, -0.20065129, -0.88432088],
       [ 0.91800314,  0.21939391,  0.93100533,  0.67762681, -0.33013657,
         1.        , -0.46352503,  0.65107606],
       [-0.32005158,  0.39899819, -0.38166201, -0.40793918, -0.20065129,
        -0.46352503,  1.        ,  0.0635337 ],
       [ 0.84025857,  0.46854901,  0.79567294,  0.42434354, -0.88432088,
         0.65107606,  0.0635337 ,  1.        ]])

In [38]:
model_2=sm.WLS(y_train,X_train,weights=0.01)
results=model_2.fit()

In [39]:
print(results.summary())

                            WLS Regression Results
==============================================================================
Dep. Variable:                 price1   R-squared:                       0.997
Model:                            WLS   Adj. R-squared:                  0.995
Method:                 Least Squares   F-statistic:                     436.1
Date:                Wed, 17 Jan 2018   Prob (F-statistic):           1.29e-09
Time:                        18:55:38   Log-Likelihood:                -112.81
No. Observations:                  14   AIC:                             237.6
Df Residuals:                       8   BIC:                             241.5
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
price2        -0.8881      2.615     -0.340      0.743      -6.917       5.141
land           0.4036      1.344      0.300      0.771      -2.694       3.502
people         9.3849      3.834      2.448      0.040       0.544      18.225
gdp            1.4551      0.565      2.574      0.033       0.151       2.759
lv         -2209.0356    646.743     -3.416      0.009   -3700.428    -717.643
income        -0.2810      0.371     -0.756      0.471      -1.138       0.576
==============================================================================
Omnibus:                        0.336   Durbin-Watson:                   3.178
Prob(Omnibus):                  0.846   Jarque-Bera (JB):                0.201
Skew:                          -0.243   Prob(JB):                        0.905
Kurtosis:                       2.673   Cond. No.                     9.52e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.52e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

D:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  "anyway, n=%i" % int(n))