In [1]:
base_path = "C:\\Users\\hasee\\workspace\\Kaggle\\safe_driver\\" # your folder

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
def add_noise(series, noise_level):
    return series * (1 + noise_level * np.random.randn(len(series)))

def target_encode(trn_series=None, 
                  tst_series=None, 
                  target=None, 
                  min_samples_leaf=1, 
                  smoothing=1,
                  noise_level=0):
    """
    Smoothing is computed like in the following paper by Daniele Micci-Barreca
    https://kaggle2.blob.core.windows.net/forum-message-attachments/225952/7441/high%20cardinality%20categoricals.pdf
    trn_series : training categorical feature as a pd.Series
    tst_series : test categorical feature as a pd.Series
    target : target data as a pd.Series
    min_samples_leaf (int) : minimum samples to take category average into account
    smoothing (int) : smoothing effect to balance categorical average vs prior  
    """ 
    assert len(trn_series) == len(target)
    assert trn_series.name == tst_series.name
    temp = pd.concat([trn_series, target], axis=1)
    # Compute target mean 
    averages = temp.groupby(by=trn_series.name)[target.name].agg(["mean", "count"])
    # Compute smoothing
    smoothing = 1 / (1 + np.exp(-(averages["count"] - min_samples_leaf) / smoothing))
    # Apply average function to all target data
    prior = target.mean()
    # The bigger the count the less full_avg is taken into account
    averages[target.name] = prior * (1 - smoothing) + averages["mean"] * smoothing
    averages.drop(["mean", "count"], axis=1, inplace=True)
    # Apply averages to trn and tst series
    ft_trn_series = pd.merge(
        trn_series.to_frame(trn_series.name),
        averages.reset_index().rename(columns={'index': target.name, target.name: 'average'}),
        on=trn_series.name,
        how='left')['average'].rename(trn_series.name + '_mean').fillna(prior)
    # pd.merge does not keep the index so restore it
    ft_trn_series.index = trn_series.index 
    ft_tst_series = pd.merge(
        tst_series.to_frame(tst_series.name),
        averages.reset_index().rename(columns={'index': target.name, target.name: 'average'}),
        on=tst_series.name,
        how='left')['average'].rename(trn_series.name + '_mean').fillna(prior)
    # pd.merge does not keep the index so restore it
    ft_tst_series.index = tst_series.index
    return add_noise(ft_trn_series, noise_level), add_noise(ft_tst_series, noise_level)

In [31]:
trn_df = pd.read_csv(base_path+"train.csv", index_col=0)
sub_df = pd.read_csv(base_path+"test.csv", index_col=0)

In [48]:
temp=pd.concat([trn_df["ps_car_11_cat"],trn_df.target],axis=1)
temp

         ps_car_11_cat  target
id
7                   12       0
9                   19       0
13                  60       0
16                 104       0
17                  82       0
19                 104       0
20                  99       0
22                  30       0
26                  68       0
28                 104       1
34                  20       0
35                  36       0
36                 101       0
43                 104       0
46                 103       0
48                  41       0
50                  59       0
58                 104       0
61                  43       0
64                  64       1
65                  82       0
66                 103       0
72                  29       0
74                  95       0
77                 104       0
78                  24       0
79                   5       0
80                  99       0
84                 104       1
85                  28       0
...                ...     ...
1487945             10       0
1487951             64       0
1487952             14       0
1487954             38       0
1487957             87       0
1487958            104       0
1487962             37       0
1487963             16       0
1487964             64       0
1487968             95       0
1487973             82       0
1487975            104       0
1487976             57       0
1487980             47       0
1487983             14       0
1487988            102       0
1487990            101       0
1487992             17       0
1487994             49       0
1487996             19       0
1488001             53       0
1488005             72       0
1488008             27       0
1488009             26       0
1488011             20       0
1488013             31       0
1488016             63       0
1488017             31       0
1488021            101       0
1488027             34       0

[595212 rows x 2 columns]

In [33]:
trn_df.target.name

'target'

In [51]:
averages = temp.groupby(by=trn_df["ps_car_11_cat"].name)[trn_df.target.name].agg(["mean", "count"])#"mean"compute mean of group
averages

                   mean  count
ps_car_11_cat
1              0.040528   3331
2              0.037995   2553
3              0.051177   3185
4              0.060777   1596
5              0.041956  12513
6              0.037097   2480
7              0.025473   5653
8              0.037485   2481
9              0.028042   2211
10             0.025653   8732
11             0.027695   6716
12             0.038642   7246
13             0.050725   3312
14             0.040389   2674
15             0.035106   1880
16             0.025974   7007
17             0.045593   3926
18             0.066504   1233
19             0.023936   5097
20             0.044913   1848
21             0.058581   2424
22             0.032852   8371
23             0.038369   1668
24             0.039099   2353
25             0.041516   4697
26             0.033913   3450
27             0.035413   5930
28             0.042431  12538
29             0.036266   4467
30             0.030577   2322
...                 ...    ...
75             0.063170   1678
76             0.034152   2606
77             0.033264   2405
78             0.038724   7334
79             0.044733   2079
80             0.039580   5710
81             0.041172   1433
82             0.026266  10470
83             0.039117   9510
84             0.029839   4893
85             0.031839   6313
86             0.033342   3719
87             0.031626  17106
88             0.029405   4523
89             0.046720   5030
90             0.045188   5289
91             0.039717   1838
92             0.036274   6506
93             0.058683   2931
94             0.049239   3351
95             0.027544   3558
96             0.032320   2073
97             0.059299   1484
98             0.030877   2850
99             0.023003  12042
100            0.052418   4445
101            0.038289   7339
102            0.033761   2103
103            0.026667  24262
104            0.045015  85083

[104 rows x 2 columns]

In [35]:
trn_df["ps_car_11_cat"].name

'ps_car_11_cat'

In [36]:
smoothing = 1 / (1 + np.exp(-(averages["count"] - 100) / 10))
prior=trn_df.target.mean()
prior

0.036447517859182946

In [37]:
averages[trn_df.target.name] = prior * (1 - smoothing) + averages["mean"] * smoothing

In [38]:
averages.drop(["mean", "count"], axis=1, inplace=True)

In [23]:
averages

                 target
ps_car_11_cat
1              0.040528
2              0.037995
3              0.051177
4              0.060777
5              0.041956
6              0.037097
7              0.025473
8              0.037485
9              0.028042
10             0.025653
11             0.027695
12             0.038642
13             0.050725
14             0.040389
15             0.035106
16             0.025974
17             0.045593
18             0.066504
19             0.023936
20             0.044913
21             0.058581
22             0.032852
23             0.038369
24             0.039099
25             0.041516
26             0.033913
27             0.035413
28             0.042431
29             0.036266
30             0.030577
...                 ...
75             0.063170
76             0.034152
77             0.033264
78             0.038724
79             0.044733
80             0.039580
81             0.041172
82             0.026266
83             0.039117
84             0.029839
85             0.031839
86             0.033342
87             0.031626
88             0.029405
89             0.046720
90             0.045188
91             0.039717
92             0.036274
93             0.058683
94             0.049239
95             0.027544
96             0.032320
97             0.059299
98             0.030877
99             0.023003
100            0.052418
101            0.038289
102            0.033761
103            0.026667
104            0.045015

[104 rows x 1 columns]

In [42]:
ft_trn_series = pd.merge(
        trn_df["ps_car_11_cat"].to_frame(trn_df["ps_car_11_cat"].name),
        averages.reset_index().rename(columns={'index': trn_df.target.name, trn_df.target.name: 'average'}),
        on=trn_df["ps_car_11_cat"].name,
        how='left')['average'].rename(trn_df["ps_car_11_cat"].name + '_mean').fillna(prior)

In [43]:
ft_trn_series

0         0.038642
1         0.023936
2         0.031281
3         0.045015
4         0.026266
5         0.045015
6         0.023003
7         0.030577
8         0.034335
9         0.045015
10        0.044913
11        0.038891
12        0.038289
13        0.045015
14        0.026667
15        0.075110
16        0.036158
17        0.045015
18        0.018423
19        0.028728
20        0.026266
21        0.026667
22        0.036266
23        0.027544
24        0.045015
25        0.039099
26        0.041956
27        0.023003
28        0.045015
29        0.042431
            ...
595182    0.025653
595183    0.028728
595184    0.040389
595185    0.030932
595186    0.031626
595187    0.045015
595188    0.029752
595189    0.025974
595190    0.028728
595191    0.027544
595192    0.026266
595193    0.045015
595194    0.023715
595195    0.040786
595196    0.040389
595197    0.033761
595198    0.038289
595199    0.045593
595200    0.032176
595201    0.023936
595202    0.029633
595203    0.057004
595204    0.035413
595205    0.033913
595206    0.044913
595207    0.038600
595208    0.060743
595209    0.038600
595210    0.038289
595211    0.036562
Name: ps_car_11_cat_mean, Length: 595212, dtype: float64

In [40]:
averages.reset_index().rename(columns={'index': trn_df.target.name,trn_df.target.name: 'average'})

     ps_car_11_cat   average
0                1  0.040528
1                2  0.037995
2                3  0.051177
3                4  0.060777
4                5  0.041956
5                6  0.037097
6                7  0.025473
7                8  0.037485
8                9  0.028042
9               10  0.025653
10              11  0.027695
11              12  0.038642
12              13  0.050725
13              14  0.040389
14              15  0.035106
15              16  0.025974
16              17  0.045593
17              18  0.066504
18              19  0.023936
19              20  0.044913
20              21  0.058581
21              22  0.032852
22              23  0.038369
23              24  0.039099
24              25  0.041516
25              26  0.033913
26              27  0.035413
27              28  0.042431
28              29  0.036266
29              30  0.030577
..             ...       ...
74              75  0.063170
75              76  0.034152
76              77  0.033264
77              78  0.038724
78              79  0.044733
79              80  0.039580
80              81  0.041172
81              82  0.026266
82              83  0.039117
83              84  0.029839
84              85  0.031839
85              86  0.033342
86              87  0.031626
87              88  0.029405
88              89  0.046720
89              90  0.045188
90              91  0.039717
91              92  0.036274
92              93  0.058683
93              94  0.049239
94              95  0.027544
95              96  0.032320
96              97  0.059299
97              98  0.030877
98              99  0.023003
99             100  0.052418
100            101  0.038289
101            102  0.033761
102            103  0.026667
103            104  0.045015

[104 rows x 2 columns]

In [44]:
trn_df["ps_car_11_cat"].to_frame(trn_df["ps_car_11_cat"].name)

         ps_car_11_cat
id
7                   12
9                   19
13                  60
16                 104
17                  82
19                 104
20                  99
22                  30
26                  68
28                 104
34                  20
35                  36
36                 101
43                 104
46                 103
48                  41
50                  59
58                 104
61                  43
64                  64
65                  82
66                 103
72                  29
74                  95
77                 104
78                  24
79                   5
80                  99
84                 104
85                  28
...                ...
1487945             10
1487951             64
1487952             14
1487954             38
1487957             87
1487958            104
1487962             37
1487963             16
1487964             64
1487968             95
1487973             82
1487975            104
1487976             57
1487980             47
1487983             14
1487988            102
1487990            101
1487992             17
1487994             49
1487996             19
1488001             53
1488005             72
1488008             27
1488009             26
1488011             20
1488013             31
1488016             63
1488017             31
1488021            101
1488027             34

[595212 rows x 1 columns]